<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css">

    <title>Meet Amaru the Jester!</title>
</head>

<body>
    <div class="content-container">
        <div class="content-wrap">
            <header></header>
            <h1>Meet Amaru!</h1>
            <h2>An AI Jester as well a provider of critical social commentary!</h2>
            <form action="/" method="post">
                <label class="label-prompt" for="prompt">Speak your mind:</label>
                <input type="text" id="prompt" name="prompt">
                <button type="submit" id="button">Submit</button>
            </form>
            <div class="amaru-container">
                <img id="amaru-pic" src="/public/images/amru.png" alt="Picture of Amaru" />
                <form id="fileForm" action="/upload" method="post" enctype="multipart/form-data">
                    <!-- The file input is hidden -->
                    <input type="file" name="selectedFile" id="fileInput" style="display: none;"
                        onchange="submitForm()">
                    <button type="button" class="amaru-button" onclick="selectFile()">Upload File</button>
                    <label class="file-label">Submit any text file for an introspective yet comedic review and
                        analysis!</label>
                </form>

            </div>
            <div class="response-container">
                <div id="response">
                    <%= data %>
                </div>
            </div>
        </div>
        <footer>
            <h5>Verson 0.2 - Remembers conversations! and analyzes uploaded text files!</h5>
        </footer>
    </div>
    <script src="/public/response.js"></script>
    <script src="server.js" type="text/html"></script>


</body>

</html>