* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(19, 18, 18);
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(44, 42, 42);
}

.content-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2.5rem;
    align-items: center;
}

h1,
h2 {
    text-align: center;
}

h1 {
    padding: 25px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

h2 {
    display: inherit;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="text"],
button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    width: 50%;
}



.response-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 15px;
    min-height: 600px;
    max-height: 600px;
    overflow-y: auto;
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.amaru-container {
    display: flex;
    height: 250px;
    justify-content: center;
    grid-row-start: 4;
    grid-row-end: 6;
    flex-direction: column;
    /* Makes children stack vertically */
    align-items: center;
    /* Centers children horizontally */
}

#amaru-pic {
    width: 250px;
    border: 1px solid white;
    border-radius: 50px;
    margin-bottom: 10px;
}

#response {
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 2em;
    text-align: center;
    max-width: 700px;
}

h5 {
    margin: 0;
    text-align: center;
    text-decoration: wavy;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(19, 18, 18);
}

.amaru-button,
button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Optional: Smoothens the color change on hover */
}

.amaru-button:hover,
button:hover {
    background-color: deepskyblue;
    /* Optional: Gives a hover effect */
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    h1 {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    h2 {
        margin-bottom: 25px;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .content-wrap {
        grid-template-columns: 1fr;
    }

    form {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .response-container {
        grid-column-start: 1;
        grid-row-start: 5;
        max-height: 700px;
    }

    .amaru-container {
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 5;
        height: unset;
        justify-content: unset;
        margin-bottom: 10px;
    }

    .label-prompt {
        margin-top: 10px;
    }
}